@font-face {
  font-family: YekanBakh-Thin;
  src: url("./YekanBakhFaNum-Thin.woff");
}

@font-face {
  font-family: YekanBakh-Light;
  src: url("./YekanBakhFaNum-Light.woff");
}

@font-face {
  font-family: YekanBakh-Regular;
  src: url("./YekanBakhFaNum-Regular.woff");
}

@font-face {
  font-family: YekanBakh-SemiBold;
  src: url("./YekanBakhFaNum-SemiBold.woff");
}

@font-face {
  font-family: YekanBakh-Bold;
  src: url("./YekanBakhFaNum-Bold.woff");
}

@font-face {
  font-family: YekanBakh-ExtraBold;
  src: url("./YekanBakhFaNum-ExtraBold.woff");
}

@font-face {
  font-family: YekanBakh-Black;
  src: url("./YekanBakhFaNum-Black.woff");
}

@font-face {
  font-family: YekanBakh-ExtraBlack;
  src: url("./YekanBakhFaNum-ExtraBlack.woff");
}

